body{
    background-color: rgb(253, 184, 142);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0%;
}
a {
    text-decoration: none;
    color:rgb(255, 0, 255);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
form {
    padding: 40px;
    width: auto;
}

h1,h2{
    margin: 0;
}
#formx{
    background-color: rgb(248, 204, 172);
    padding-left: 20%;
    padding-right: 20%;
    border-radius: 50px;
    margin-top: 60px;
    
}
.con{
    text-align: center;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    color: rgb(255, 148, 9);
}

  #container{
      background-color: rgba(255, 255, 255, 0.753);
      width: 96%;
      margin-left: 2%;
      margin-right: 2%;
      
  }
  #header {
    background-color: #2f2f2f;
    height: 40px;
    text-align: center;
    font-family: monospace;
    font-size: 33px;
    color: orange;
    padding: 10px;
    padding-left: 60px;
  }
  
  #content{
      padding: 10px;
      text-align: center;
      height: 100px;

  }
  #nav{
      width: 6%;
      float: left;
      font-family: cursive;
  }

 #nav ul {
      list-style-type: none;
  }    
  #main{
      width: 94%;
      float: right;
      
      
  }
  #footer{
      clear: both;
      padding: 10px;
      background-color: #999999;
      color: white;
      text-align: right;

  }
  #nav .selected{
      font-weight: bold;
  }


  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  /*input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }*/
  input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=radio], select {
    width: 10%;
    margin: 8px 0;
  }
  input[type=checkbox], select {
    width: 10%;
    margin: 8px 0;
  }
  input[type=submit], select {
    width: 20%;
    margin-left: 40%;
    margin-right: auto;
    
  }
  #top{
    color: rgb(255, 153, 0);
    background-color: transparent;
    font-weight: bold;
    border-radius: 10%;
    
  }
  .bar {
    height:24px;
    width:20%;
  }

/*switch part*/

  .Orange-theme {
    --bg: var(--green);
  --fontColor: var(--z);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
 }
 
 .Grey-theme {
    --bg: var(--black);
    --fontColor: var(--z);
    --btnBg: var(--white);
    --btnFontColor: var(--green); }

    .btn {
      color: var(--btnFontColor);
      background-color: var(--btnBg);
  } 
  .btn {
     position: absolute;
     top: 1%;
     left: 3%;
     height: 50px;
     width: 50px;
     border-radius: 50%;
     border: none;
     color: var(--btnFontColor);
     background-color: var(--btnBg);
     
   }
   .btn:focus { outline-style: none; } 
  :root {
     --green: #645f5f;
     --white: #ffffff;
     --black:  rgb(253, 184, 142);
     --z: #2f2f2f;
   }  
   * {
    color: var(--fontColor);
    font-family: helvetica;
  }   
  body {
    background: var(--bg);
}